<html>
  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <h1> Mon super site de gossip, depuis le dossier views !</h1>
    
  <p>Bienvenue sur le site qui compile les gossips de The Hacking Project de toute la France</p>
<a href="/gossips/new/">Balance ton potin !</a>
  </body>


</html>